.global {
    float: left;
    position: relative;
    
    margin: 20px;
    
    padding: 1%;
    
    border-radius: 20px;
    
    border: 2px solid  rgb(150, 144, 131);
    width: 42%;
    
    border-radius: 20px;
    color: aliceblue;  
   
    
  
}


.global:hover {
    -webkit-transform:scale(1.1);transform:scale(1.1);
border-radius: 10%;
}


